<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">

<div class="grid mb-3">
    <p-button icon="pi pi-chevron-left" class="mt-4 ml-4"
        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg "
        (click)="backpage()"></p-button>
</div>

<div class="grid">
    <div class="col-3 mt-3"><img src="{{ movie.image.original }}" width="100%" class="shadow-8" height="100%"
            style=" border:  1px solid black; padding:0.5cm;" /></div>
    <div class="col-9 mt-3">
        <p-card styleClass="test">
            <a class="textcss" style="font-weight: bold; font-size: 1.3em;">{{movie.status}}</a>
            <p></p>
            <div>
                <a style="font-weight: bold; font-size: 1.2em;">Show's Name</a>
                <hr class="shadow-2" style="border: 0.5px solid ;">
                <a class="mb-1" style="font-size: 1.1em;"> {{movie.name}}</a>
            </div>
            <p></p>
            <div>
                <a style="font-weight: bold; font-size: 1.2em;">Show's Genres</a>
                <hr class="shadow-2" style="border: 0.5px solid ;">
                <a class="mb-1" style="font-size: 1.1em;"> {{movie.genres}}</a>
            </div>
            <p></p>
            <div>
                <a style="font-weight: bold; font-size: 1.2em;">Show's Language</a>
                <hr class="shadow-2" style="border: 0.5px solid ;">
                <a class="mb-1" style="font-size: 1.1em;"> {{movie.language}}</a>
            </div>
            <p></p>
            <div>
                <a class="mt-2" style="font-weight: bold; font-size: 1.2em;">Show's Summary</a>
                <hr class="shadow-2" style="border: 0.5px solid ;">
                <a class="mb-3" style="font-size: 1.1em;"> {{newSummary}}</a>
            </div>
            <p></p>
            <div>
                <a href="{{movie.url}}" target="_blank">
                    <p-button label="Link" [style]="{ width: '100px' }" styleClass="button "></p-button>
                </a>
            </div>

        </p-card>
    </div>
</div>